.page-title-box {
  padding: 30px 0;
  border-top: 1px solid $light-gray;

  .page-title {
    font-size: 38px;
    line-height: 53px;
    margin: 0;
  }

  @media only screen and (max-width: $mobile) {
    padding: 30px 0;

    .page-title {
      font-size: 38px;
      line-height: 53px;
    }
  }
}

.page__head {
  
  .page-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $light-gray;
    &:after {
      content: "";
      display: table;
      width: 100%;
      min-height: 300px;
      padding-top: 40%; //this is for the page content image height (padding) adjust
    }
  }
}

.page {
  margin: 80px auto;

  img {
    margin: 8px 0;
  }

  @media only screen and (max-width: $tablet) {
    margin: 40px auto;
  }
}

.page-box {
  text-align: center;

  .back-arrow {
    a {
      display: inline-block;
      margin-left: 10px;
      color: $dark;
      font-weight: 700;
      &:hover {
        color: $black;
      }
    }
  }
}