<!-- begin c-hero -->
<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-10 col-t-15 last-item">
        <div class="hero__content">
          <h2 class="hero__title">{{ site.data.settings.author.greeting }}</h2>
          <p class="hero__subtitle">{{ site.data.settings.author.bio }}</p>
          <div class="hero__social">
            <span class="hero__social-title">Find Me |</span>
            {% include contact-link.html %}
          </div>
        </div>
      </div>
      <div class="col col-5 col-t-15">
        <div class="hero__image">
          <img src="{{site.baseurl}}/images/{{ site.data.settings.author.image }}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end hero -->