.contact {
  .contact__list {
    li {
      margin-left: 15px;
      display: inline-block;

      a {
        font-size: 22px;
        color: $gray;
        &:hover {
          color: $dark;
        }
      }
    }
  }
}